
#u532-4,#u671-4
{
	font-family: patua-one-n4, serif;
}

#u1457-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1474-4
{
	font-family: berkshire-swash-n4, cursive;
}

#u106-16
{
	font-family: amatic-sc-n7, sans-serif;
}

#u666-2
{
	font-family: bad-script-n4, cursive;
}

#u666-4,#u666-6,#u666-8,#u666-10,#u666-12,#u666-14,#u666-16,#u720-8,#u781-4
{
	font-family: jockey-one-n4, sans-serif;
}

#u784-4
{
	font-family: glass-antiqua-n4, sans-serif;
}

#u788-5
{
	font-family: cabin-sketch-n4, sans-serif;
}

#u793-7
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u778-3,#u778-4,#u778-6,#u778-8,#u778-10,#u778-12,#u778-14,#u778-16,#u778-18,#u778-20
{
	font-family: glegoo-n4, sans-serif;
}

#u853-10,#u1484-5
{
	font-family: arvo-n7, serif;
}

#u1484-3,#u1484-7,#u1484-9
{
	font-family: arvo-n4, serif;
}

#u988-25
{
	font-family: raleway-n4, sans-serif;
}

#u106-12,#u778-24,#u975-4,#u1376-16,#u1019-4
{
	font-family: patua-one-n4, serif;
}

#u1026-4
{
	font-family: patua-one-n4, serif;
}

#u1480-4
{
	font-family: patua-one-n4, serif;
}

